<h1>Games</h1>

@*<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-sm">
                <button type="button" class="btn btn-dark"> 
                    <i>
                        Search
                    </i>
                </button>
            </span>
        </div>
    </div>
</form>*@

<table class="table">
       @foreach (var game in Model.games) {
    <tr>
        @if (game.launchBit == 1)
        {
            <th rowspan="2"><img src="~/images/comingsoonannouncementhanging.png" width="100" height="100"></th>
            
        }
        else
        {
            <th rowspan="2"></th>

        }
        <th rowspan="2"><img src="@game.image" alt="@game.imageAlt"></th>
        <th>@game.Name</th>
        <th>@game.minAge</th>
        <th>@game.numberOfPeople</th>
        <th>@game.timeRange</th>
        <th rowspan="2">
            <a class="btn btn-lg"
               asp-controller="Games" asp-action="Detail"
               asp-route-gameId="@game.Id">
               <i>Info</i>
            </a>
        </th>

    </tr>
	<tr>
		<td colspan=4>@game.description</td>
     </tr>
        }
</table>
