@page
@model CatTree.Pages.Games.IndexModel
@{
}

<h1>Games</h1>
<table class="table"
       @foreach (var game in Model.games) { 
    <tr>
        <th rowspan="2"><img src=@game.image alt=@game.imageAlt ></th>
        <th>@game.Name</th>
        <th>@game.minAge</th>
        <th>@game.numberOfPeople</th>
        <th>@game.timeRange</th>
    </tr>
	<tr>
		<td colspan=4>@game.description</td>
     </tr>
            }
     </table>
